* {
	background-color: #F1F1F1;
}

.judul h4{
	margin-left: 3%;
	color: #DD9E40;
	font-size: 64px;
	width: 215px;
	margin-top: 20px;
	font-family: 'Ubuntu', sans-serif;
}

form{
	margin-top: -50px;
	margin-left: 3%;
}

.usrnm label {
	font-family: 'Ubuntu', sans-serif;
}

.usrnm input{
	border: 1px solid black;
}

.pswd {
	margin-top: 5%;
}

.pswd input{
	border: 1px solid black;
}

.ket {
	margin-left: 3%;
	font-family: 'Ubuntu', sans-serif;
}

label {
	margin-left: 5%;
	font-family: 'Ubuntu', sans-serif;
}

input{
	text-align: center;
	background-color: #C4C4C4;
	/*border: 1px solid black;*/
	height: 22px;
	margin-top: 10px;
	background-color: transparent;
	/*width: 200px;*/
}

.subm{
	margin-top: 2%;
}

.subm input{
	background-color: #DD9E40;
	color: white;
	border-radius: 2px;
	border: 2px solid #DD9E40;
	font-family: 'Ubuntu', sans-serif;
}

.bck p{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
}

/* mobile display */
@media screen and (max-width: 600px) {
	.judul h4{
	margin-left: 27%;
	color: #DD9E40;
	font-size: 64px;
	width: 215px;
	margin-top: 20px;
	font-family: 'Ubuntu', sans-serif;
	}

	form{
	margin-top: -50px;
	margin-left: 18%;
	}

	.usrnm label {
	font-family: 'Ubuntu', sans-serif;
	/*font-size: 20px;*/
	/*margin-left: 25%;*/
	}

	.usrnm input{
		width: 220px;
		border: 1px solid black;
	}

	.pswd {
	margin-top: 10%;
	}

	.pswd input{
		width: 220px;
		border: 1px solid black;
	}

	.ket {
	margin-left: 15%;
	font-family: 'Ubuntu', sans-serif;
	}

	label {
	margin-left: 25%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	}

	input{
	text-align: center;
	background-color: #C4C4C4;
	/*border: 1px solid black;*/
	height: 22px;
	margin-top: 10px;
	background-color: transparent;
	/*width: 200px;*/
	}

	.subm{
	margin-top: 2%;
	margin-left: 29%;
	}

	.subm input{
	background-color: #DD9E40;
	color: white;
	/*border-radius: 2px;
	border-color: #DD9E40;*/
	font-family: 'Ubuntu', sans-serif;
	border-radius: 2px;
	border: 2px solid #DD9E40;
	}

	.bck p a{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	}

}
